workflow-2-ai-business-development/workflow-json/RevOps Sub-Agent.json.json
{
  "name": "RevOps Sub-Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sales_lead_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Based on the input of the user, you should reply with a structured version of the lead. Your reply will be sent to Pipedrive to create a lead record."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        112
      ],
      "id": "e306bc76-87ff-4b36-8833-adc9cec0f5ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        336
      ],
      "id": "ccc2a02d-479f-4c70-904c-94f1d585a1d5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rDdPNgV7u6QBX9Lg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"name\":\"The full name of the lead\",\n  \"company\":\"The company where they work\",\n  \"role\":\"Their job title\",\n  \"email\":\"Their email address\"  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        336
      ],
      "id": "b69d6b1b-4b70-4adc-a952-c5febd79c948",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.output.company }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        416,
        112
      ],
      "id": "5454aabf-a643-4be0-9f42-9941c6975752",
      "name": "Create an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "KQ56aCvSQsY3Jg0f",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('AI Agent').item.json.output.name }}",
        "additionalFields": {
          "emails": {
            "emailProperties": [
              {
                "value": "={{ $('AI Agent').item.json.output.email }}"
              }
            ]
          },
          "org_id": "={{ $('Create an organization').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        640,
        112
      ],
      "id": "a5b841c6-a634-4077-9cb7-7d6c9cb947e4",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "KQ56aCvSQsY3Jg0f",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $('AI Agent').item.json.output.name }}",
        "organization_id": "={{ $('Create an organization').item.json.id }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        864,
        112
      ],
      "id": "8eddff22-1272-4564-9a67-de468709e5bf",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "KQ56aCvSQsY3Jg0f",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Parse Data\nUse and agent with Structured Outputs\n",
        "height": 480,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "105ca09d-f451-4abe-9baa-521bd857314f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Load Data\nStore prospect data in Pipedrive",
        "height": 272,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        0
      ],
      "typeVersion": 1,
      "id": "1859eb21-4680-45e9-932a-2aa933ae7c39",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sales_lead_description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        112
      ],
      "id": "ef8bc290-33f5-45aa-ae72-7e0f9ce6b57b",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a0b41b11-037f-4348-b64c-6ec4b31e5b79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5cf8ae5e02a6ff133e92519109182525ea074c246b0a0b89929a71cb570126"
  },
  "nodeGroups": [],
  "id": "4a4Y0XQEHim7BPMK",
  "tags": []
}