workflow-1-ai-business-development/workflow.json/Prospecting Subagent.json.json
{
  "name": "Prospecting Subagent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Prospecting Agent for AutomateAI, an AI automation agency.\n\nYour job is to identify qualified sales prospects based on the user's search query.\n\nUse your available tools to:\n- Search the internet for companies that match the requested Ideal Customer Profile (ICP).\n- Visit company websites when necessary to verify that they fit the ICP.\n- Identify the most relevant decision-maker for each company.\n- Find the most likely business email address for that decision-maker using your available tools.\n\nRequirements:\n- Return 4 high-quality prospects.\n- Prioritize decision-makers involved in technology, operations, digital transformation, automation, or executive leadership, depending on the ICP.\n- Avoid duplicate companies and duplicate contacts.\n- Only include prospects that closely match the ICP.\n\n\n",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        0
      ],
      "id": "fc8f42fa-ed63-439a-afd7-591e3e060511",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"prospects\":[\n      {\n        \"firstname\":\"the prospect's first name here\",\n      \"lastname\":\"their last name\",\n        \"company\":\"where they work\",\n        \"role\":\"what they do\",\n      \"email\":\"predicted email address for this prospect\",\n        \"rationale\":\"why this prospect is qualified as a potential client\"\n        \n      }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "390aa7b0-ea59-4c1c-9cbf-2d6dbcc1bd40",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "ffb3e79a-0f51-4f7d-9105-c20dbfeef046",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rDdPNgV7u6QBX9Lg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        0
      ],
      "id": "4e6b5afe-69c9-404a-8d26-9b8596ef1f9d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "endpointUrl": "=https://mcp.firecrawl.dev/fc-f1e267bbf03045f99625fc6c303412ef/v2/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "e063aad4-a17f-4ad4-b51b-ca7ebb6dae70",
      "name": "MCP Firecrawl"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.hunter.io/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.4,
      "position": [
        480,
        224
      ],
      "id": "bd87d8f7-35f1-447a-be4c-a6c08dc7fb37",
      "name": "MCP Hunter",
      "credentials": {
        "httpBearerAuth": {
          "id": "UhaLljyUbf2D8vig",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Hunter": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e8cbfb49-2b3f-4d7f-aeaf-476a81a68281",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5cf8ae5e02a6ff133e92519109182525ea074c246b0a0b89929a71cb570126"
  },
  "nodeGroups": [],
  "id": "4LKrVTrAHkeaAWDn",
  "tags": []
}