workflow-1-ai-airtable-sales-automation-platform/workflows/03 - AI Outreach Generation.json
{
  "name": "03 - AI Outreach Generation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "15ba0894-c8fa-4296-b12d-dcca847cafb6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0634c534-21dd-4638-b0ff-12270861e605",
              "name": "airtable_record_id",
              "value": "recisc7CcFlV5kc6X",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        464
      ],
      "id": "7ba8fcf1-2c92-4379-84c8-5f2bc63461bd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblmkGrS1UtzbECD1",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblmkGrS1UtzbECD1"
        },
        "id": "={{ $json.airtable_record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "ff683ab1-3cfb-4e60-a717-44c1419a548b",
      "name": "Get Leads Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B outreach copywriter.\n\nWrite a concise, personalized cold email for the contact below.\n\nContact first name:\n{{ $json.fields[\"Contact First Name\"] }}\n\nJob title:\n{{ $json.fields[\"Job Title\"] }}\n\nCompany:\n{{ $json.fields[\"Company Name\"] }}\n\nIndustry:\n{{ $json.fields[\"Industry\"] }}\n\nResearch Summary:\n{{ $json.fields[\"Research Summary\"] }}\n\nPain Points:\n{{ $json.fields[\"Pain Points\"] }}\n\nPersonalization Angle:\n{{ $json.fields[\"Personalization Angle\"] }}\n\n\nThe agency helps companies automate repetitive operations using AI agents, n8n, Airtable, CRM integrations, and workflow automation.\n\nWrite an outreach email that:\n- Opens with a specific observation about the company or contact's role.\n- Connects one relevant pain point to a practical automation opportunity.\n- Avoids exaggerated claims and generic compliments.\n- Uses a professional but conversational tone.\n- Is between 90 and 140 words.\n- Ends with a low-pressure call to action.\n- Does not mention that AI researched the company.\n- Does not invent unsupported facts.\n- Draft the email with Thea Mejos as Business Development Director at AutomateAI.\n\nAlso generate a concise subject line of no more than 7 words.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "id": "49330b40-2e59-45cd-b3a1-8d2483cbcad6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        224
      ],
      "id": "f47ed8c4-2c4e-4514-9bcf-64bb6ccf10e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rDdPNgV7u6QBX9Lg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"email_subject\": {\n      \"type\": \"string\"\n    },\n    \"email_draft\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"email_subject\",\n    \"email_draft\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        624,
        224
      ],
      "id": "3846e70d-ced4-45bf-984e-7aed0289b312",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblmkGrS1UtzbECD1",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblmkGrS1UtzbECD1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Leads Record').item.json.id }}",
            "Email Subject": "={{ $json.output.email_subject }}",
            "Email Draft": "={{ $json.output.email_draft }}",
            "Approval Status": "Pending Review",
            "Automation Status": "Awaiting Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadID",
              "displayName": "LeadID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact First Name",
              "displayName": "Contact First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Last Name",
              "displayName": "Contact Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SaaS",
                  "value": "SaaS"
                },
                {
                  "name": "Healthcare",
                  "value": "Healthcare"
                },
                {
                  "name": "Ecommerce",
                  "value": "Ecommerce"
                },
                {
                  "name": "Manufacturing",
                  "value": "Manufacturing"
                },
                {
                  "name": "Finance",
                  "value": "Finance"
                },
                {
                  "name": "Software",
                  "value": "Software"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Location",
              "displayName": "Company Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted By",
              "displayName": "Submitted By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Researching",
                  "value": "Researching"
                },
                {
                  "name": "Drafting",
                  "value": "Drafting"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Sending",
                  "value": "Sending"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Research Summary",
              "displayName": "Research Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pain Points",
              "displayName": "Pain Points",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization Angle",
              "displayName": "Personalization Angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Draft",
              "displayName": "Email Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending Review",
                  "value": "Pending Review"
                },
                {
                  "name": "Needs Revision",
                  "value": "Needs Revision"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent Status",
              "displayName": "Sent Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Sent",
                  "value": "Not Sent"
                },
                {
                  "name": "Scheduled",
                  "value": "Scheduled"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Replied",
                  "value": "Replied"
                },
                {
                  "name": "Bounced",
                  "value": "Bounced"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent Date",
              "displayName": "Sent Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Follow-Up",
              "displayName": "Next Follow-Up",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Automation Logs",
              "displayName": "Automation Logs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "bf3d807d-d890-431f-aaa8-12a850731b39",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblyEVCkcgJjU2sFP",
          "mode": "list",
          "cachedResultName": "Automation Logs",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblyEVCkcgJjU2sFP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow": "Outreach Generation ",
            "Message": "Personalized outreach draft generated and sent for review.",
            "Status": "Success ",
            "Relate Lead": "={{[ $json.id ]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Intake",
                  "value": "Lead Intake"
                },
                {
                  "name": "Company Research ",
                  "value": "Company Research "
                },
                {
                  "name": "Outreach Generation ",
                  "value": "Outreach Generation "
                },
                {
                  "name": "Human Approval ",
                  "value": "Human Approval "
                },
                {
                  "name": "Email Sender ",
                  "value": "Email Sender "
                },
                {
                  "name": "Follow-up Scheduler ",
                  "value": "Follow-up Scheduler "
                },
                {
                  "name": "Dashboard Update",
                  "value": "Dashboard Update"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Started ",
                  "value": "Started "
                },
                {
                  "name": "Success ",
                  "value": "Success "
                },
                {
                  "name": "Warning ",
                  "value": "Warning "
                },
                {
                  "name": "Failed ",
                  "value": "Failed "
                },
                {
                  "name": "Skipped",
                  "value": "Skipped"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relate Lead",
              "displayName": "Relate Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "7cadc12b-f4c7-4be1-8436-e12ce211308e",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "Get Leads Record": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Leads Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a76b7a1f-e2a2-44f1-bd02-f782b26fb684",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5cf8ae5e02a6ff133e92519109182525ea074c246b0a0b89929a71cb570126"
  },
  "nodeGroups": [],
  "id": "OJ80toUPxwUpd0sI",
  "tags": []
}