workflow-1-ai-airtable-sales-automation-platform/workflows/04- Human Approval.json
{
  "name": "04- Human Approval",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d16bdabf-433d-4947-8e4d-1fd9c3f5c6e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblmkGrS1UtzbECD1",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblmkGrS1UtzbECD1"
        },
        "filterByFormula": "AND(   {Approval Status} = \"Approved\",   {Sent Status} = \"Not Sent\",   {Automation Status} = \"Awaiting Review\" )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "931b75ed-07c4-451f-a330-43c8e0f78bd9",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblmkGrS1UtzbECD1",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblmkGrS1UtzbECD1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Automation Status": "Sending"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadID",
              "displayName": "LeadID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact First Name",
              "displayName": "Contact First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Last Name",
              "displayName": "Contact Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "SaaS",
                  "value": "SaaS"
                },
                {
                  "name": "Healthcare",
                  "value": "Healthcare"
                },
                {
                  "name": "Ecommerce",
                  "value": "Ecommerce"
                },
                {
                  "name": "Manufacturing",
                  "value": "Manufacturing"
                },
                {
                  "name": "Finance",
                  "value": "Finance"
                },
                {
                  "name": "Software",
                  "value": "Software"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Location",
              "displayName": "Company Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted By",
              "displayName": "Submitted By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Researching",
                  "value": "Researching"
                },
                {
                  "name": "Drafting",
                  "value": "Drafting"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Sending",
                  "value": "Sending"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Research Summary",
              "displayName": "Research Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pain Points",
              "displayName": "Pain Points",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization Angle",
              "displayName": "Personalization Angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Draft",
              "displayName": "Email Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending Review",
                  "value": "Pending Review"
                },
                {
                  "name": "Needs Revision",
                  "value": "Needs Revision"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent Status",
              "displayName": "Sent Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Sent",
                  "value": "Not Sent"
                },
                {
                  "name": "Scheduled",
                  "value": "Scheduled"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Replied",
                  "value": "Replied"
                },
                {
                  "name": "Bounced",
                  "value": "Bounced"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent Date",
              "displayName": "Sent Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Follow-Up",
              "displayName": "Next Follow-Up",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Automation Logs",
              "displayName": "Automation Logs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reviewer Notes",
              "displayName": "Reviewer Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "1a9b2acf-06ff-42dd-b876-a5df823892d3",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblyEVCkcgJjU2sFP",
          "mode": "list",
          "cachedResultName": "Automation Logs",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblyEVCkcgJjU2sFP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow": "Human Approval ",
            "Status": "Success ",
            "Relate Lead": "={{ [$json.id] }}",
            "Message": "Lead approved for email delivery."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Intake",
                  "value": "Lead Intake"
                },
                {
                  "name": "Company Research ",
                  "value": "Company Research "
                },
                {
                  "name": "Outreach Generation ",
                  "value": "Outreach Generation "
                },
                {
                  "name": "Human Approval ",
                  "value": "Human Approval "
                },
                {
                  "name": "Email Sender ",
                  "value": "Email Sender "
                },
                {
                  "name": "Follow-up Scheduler ",
                  "value": "Follow-up Scheduler "
                },
                {
                  "name": "Dashboard Update",
                  "value": "Dashboard Update"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Started ",
                  "value": "Started "
                },
                {
                  "name": "Success ",
                  "value": "Success "
                },
                {
                  "name": "Warning ",
                  "value": "Warning "
                },
                {
                  "name": "Failed ",
                  "value": "Failed "
                },
                {
                  "name": "Skipped",
                  "value": "Skipped"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Relate Lead",
              "displayName": "Relate Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "76fe44f2-c47f-4c59-b727-7acc4c8af72b",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d1ekyvbfHOENTI32",
          "mode": "list",
          "cachedResultUrl": "/workflow/d1ekyvbfHOENTI32",
          "cachedResultName": "05 - Email Sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "6e7b94aa-70eb-488b-a72c-9151e8e8f826",
      "name": "Call '05 - Email Sender'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e166e076-8372-4c0e-9a5d-88877813e7b8",
              "name": "id",
              "value": "rec8gU26hhkx7kc3L",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        336
      ],
      "id": "c857700e-1e6d-4fe8-8284-24906917d1ce",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Call '05 - Email Sender'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "38482d61-c92e-447d-9355-6649369ec9d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5cf8ae5e02a6ff133e92519109182525ea074c246b0a0b89929a71cb570126"
  },
  "nodeGroups": [],
  "id": "5IySSi9JUn1KUPYf",
  "tags": []
}