workflow-1-ai-airtable-sales-automation-platform/workflows/06 - Follow-up Generator.json
{
  "name": "06 - Follow-up Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e33379aa-0b7a-4daa-965c-3d8f2bcbf267",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblmkGrS1UtzbECD1",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblmkGrS1UtzbECD1"
        },
        "id": "={{ $json.fields[\"Related Lead\"][0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "96d651ea-f930-4e80-852d-dd78c7e00eed",
      "name": "Get a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B outreach copywriter for an AI automation agency.\n\nWrite a concise follow-up email based on the previously sent outreach and the lead information below.\n\nContact first name:\n{{ $json.fields[\"Contact First Name\"] }}\n\nJob title:\n{{ $json.fields[\"Job Title\"] }}\n\nCompany:\n{{ $json.fields[\"Company Name\"] }}\n\nIndustry:\n{{ $json.fields[\"Industry\"] }}\n\nResearch summary:\n{{ $json.fields[\"Research Summary\"] }}\n\nLikely pain points:\n{{ $json.fields[\"Pain Points\"] }}\n\nOriginal email subject:\n{{ $json.fields[\"Email Subject\"] }}\n\nOriginal email:\n{{ $json.fields[\"Email Draft\"] }}\n\nFollow-up number:\n{{ $('Search Followup records').item.json.fields[\"Follow-Up Number\"] }}\n\nWrite a follow-up that:\n- Naturally references the previous email.\n- Does not repeat the entire original pitch.\n- Adds one useful idea or practical automation opportunity.\n- Is professional and conversational.\n- Is no more than 80 words.\n- Uses a low-pressure call to action.\n- Does not claim the recipient opened or read the previous email.\n- Does not invent facts.\n-Draft the email with Thea Mejos as Business Development Director at AutomateAI.\n\nGenerate a concise subject line of no more than 7 words.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        0
      ],
      "id": "11e80a71-64f8-47cf-ac2d-a3e087c2b8f9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        192
      ],
      "id": "33aab42b-5425-4aff-a10c-00480b439993",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rDdPNgV7u6QBX9Lg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"follow_up_subject\": {\n      \"type\": \"string\"\n    },\n    \"follow_up_draft\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"follow_up_subject\",\n    \"follow_up_draft\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        176
      ],
      "id": "da69e62f-5153-452e-821a-c8a6663f098f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblASWazffkmjQdKO",
          "mode": "list",
          "cachedResultName": "Follow-ups",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblASWazffkmjQdKO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow-up ID": "={{ $('Search Followup records').item.json.fields[\"Follow-up ID\"] }}",
            "Follow-Up Number": 0,
            "Subject": "={{ $json.output.follow_up_subject }}",
            "Draft": "={{ $json.output.follow_up_draft }}",
            "Status": "Awaiting Review"
          },
          "matchingColumns": [
            "Follow-up ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Follow-up ID",
              "displayName": "Follow-up ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Related Lead",
              "displayName": "Related Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-Up Number",
              "displayName": "Follow-Up Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft",
              "displayName": "Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Scheduled",
                  "value": "Scheduled"
                },
                {
                  "name": "Drafting",
                  "value": "Drafting"
                },
                {
                  "name": "Awaiting Review",
                  "value": "Awaiting Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent Date",
              "displayName": "Sent Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        992,
        0
      ],
      "id": "e8dea18f-6fdc-44cf-8963-333a52ad83de",
      "name": "Update Followup record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appfoyCGaJYo2NOV9",
          "mode": "list",
          "cachedResultName": "AI Lead Generation CRM",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9"
        },
        "table": {
          "__rl": true,
          "value": "tblASWazffkmjQdKO",
          "mode": "list",
          "cachedResultName": "Follow-ups",
          "cachedResultUrl": "https://airtable.com/appfoyCGaJYo2NOV9/tblASWazffkmjQdKO"
        },
        "filterByFormula": "AND(   {Status} = \"Scheduled\",   IS_BEFORE({Due Date}, NOW()) )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "73814008-10d3-4084-9397-558bde387dd3",
      "name": "Search Followup records",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgxqpBmzglSIHG8E",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Followup records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update Followup record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Followup records": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b24c2891-c398-459d-818a-b55f639bf3f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5cf8ae5e02a6ff133e92519109182525ea074c246b0a0b89929a71cb570126"
  },
  "nodeGroups": [],
  "id": "Ko1yTaYSUgxXvyBO",
  "tags": []
}